
@{
    ViewBag.Title = "ForgotPassword";
    Layout = null;
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Style/Style.css" />
<link rel="stylesheet" href="~/Style/DouglasStyles.css" />
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

@using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post))
{
    <div class="container col-lg-6 col-md-7 col-sm-8" style="text-align: left;">
        <div class="clearfix">
            <img src="~/Images/logo.png" width="130" style="float: left;margin-right: 40px;">
            <h3 style="font-weight: bold;margin-top: 50px;">Forgot your Password?</h3>
            <h5>Answer your chosen security question correctly to proceed and reset your password</h5>
        </div>
        <br>
        <form style="border: none;">
            <div class="form-group ml-5">
                <h5><b>QUESTIONS</b></h5>
                <div class="contentBox2">
                    <div style="padding: 0;border: 0;margin:0;">
                        <select class="custom-select" size="5" class="form-control" id="selectQuestion" style="overflow: hidden; border: none;">
                            <option value="1">1. What was your favourite teacher's name during school?</option>
                            <option value="2">2. What was the address of your childhood home?</option>
                            <option value="3">3. What was your mother's maiden name?</option>
                            <option selected value="4">4. What was the name of your favorite pet?</option>
                            <option value="5">5. What is the name of your childhood best friend?</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group ml-5" style="width: 80%;">
                <label for="questionAnswer">ANSWER</label><br />
                <input type="text" class="form-control" id="questionAnswer" placeholder="Please type the above selected question answer here...">
            </div>
            <div class="form-group ml-5" style="width: 80%;">
                <label for="recoverEmail">EMAIL ADDRESS</label><br />
                <input type="email" class="form-control" id="recoverEmail" placeholder="Enter email">
            </div>
            <input type="submit" class="btn btn-group" style="width: 15%;margin-left: 84%;color: black;" />
        </form>
        <br>
    </div>
}