
@{
    ViewBag.Title = "ForgotPassword";
    Layout = null;
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Style/Style.css" />
<link rel="stylesheet" href="~/Style/DouglasStyles.css" />
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="container col-lg-5 col-md-7 col-sm-8">
        <div class="row " style="text-align: left;">
            <img src="~/Images/logo.png" width="130" style="float: left;margin-right: 40px;">
            <h3 style="font-weight: bold;margin-top: 50px;">Reset your Password</h3>
            <br>
            <br>
            <br>
            <form style="border: none;">
                <div class="form-group" style="width: 60%;margin-left: 20%;">
                    <label for="otpEnter">Enter OTP</label><br />
                    <input type="text" class="form-control" id="otpEnter">
                    <small class="form-text text-muted">* One Time Password was sent to your email address</small>
                </div>
                <div class="form-group" style="width: 60%;margin-left: 20%;">
                    <label for="newPass">New Password</label><br/>
                    <input type="password" class="form-control" id="newPass">
                </div>
                <div class="form-group" style="width: 60%;margin-left: 20%;">
                    <label for="confirmNewPass">Confirm Password</label><br/>
                    <input type="password" class="form-control" id="confirmNewPass">
                </div>
                <input type="submit" class="btn" style="width: 30%; margin-left: 65%;color: black;" value="Reset"/>
            </form>
        </div>
        <br>
    </div>
}